<template>
    <require from="./cell-view"></require>

    <div class.bind="block._isResolved ? 'cell-table--green' : 'cell-table'">
        <div class="cell-row">
            <cell-view class="cell" cell.two-way="block.cells[0]"></cell-view>
            <cell-view class="cell" cell.two-way="block.cells[1]"></cell-view>
            <cell-view class="cell" cell.two-way="block.cells[2]"></cell-view>
        </div>
        <div class="cell-row">
            <cell-view class="cell" cell.two-way="block.cells[3]"></cell-view>
            <cell-view class="cell" cell.two-way="block.cells[4]"></cell-view>
            <cell-view class="cell" cell.two-way="block.cells[5]"></cell-view>
        </div>
        <div class="cell-row">
            <cell-view class="cell" cell.two-way="block.cells[6]"></cell-view>
            <cell-view class="cell" cell.two-way="block.cells[7]"></cell-view>
            <cell-view class="cell" cell.two-way="block.cells[8]"></cell-view>
        </div>
    </div>
</template>