<template>
    <div if.bind="states.size > 1" class="state-table">
        <div class="state-row">
            <div class="state" click.trigger="resolve(1)">${states.has(1)? 1 : '&nbsp;'}</div>
            <div class="state" click.trigger="resolve(2)">${states.has(2)? 2 : '&nbsp;'}</div>
            <div class="state" click.trigger="resolve(3)">${states.has(3)? 3 : '&nbsp;'}</div>
        </div>
        <div class="state-row">
            <div class="state" click.trigger="resolve(4)">${states.has(4)? 4 : '&nbsp;'}</div>
            <div class="state" click.trigger="resolve(5)">${states.has(5)? 5 : '&nbsp;'}</div>
            <div class="state" click.trigger="resolve(6)">${states.has(6)? 6 : '&nbsp;'}</div>
        </div>
        <div class="state-row">
            <div class="state" click.trigger="resolve(7)">${states.has(7)? 7 : '&nbsp;'}</div>
            <div class="state" click.trigger="resolve(8)">${states.has(8)? 8 : '&nbsp;'}</div>
            <div class="state" click.trigger="resolve(9)">${states.has(9)? 9 : '&nbsp;'}</div>
        </div>
    </div>

    <div if.bind="states.size === 1" class="state-table">
        <div class="state-row">
            <div class="state">&nbsp;</div>
            <div class="state">&nbsp;</div>
            <div class="state">&nbsp;</div>
        </div>
        <div class="state-row">
            <div class="state">&nbsp;</div>
            <div class="resolved-state">${cell.firstState()}</div>
            <div class="state">&nbsp;</div>
        </div>
        <div class="state-row">
            <div class="state">&nbsp;</div>
            <div class="state">&nbsp;</div>
            <div class="state">&nbsp;</div>
        </div>
    </div>
</template>