<template>
    <require from="./block-view"></require>

    <div class="game">
        <div class="block-row">
            <block-view class="block-cell" block.two-way="game.blocks[0]"></block-view>
            <block-view class="block-cell" block.two-way="game.blocks[1]"></block-view>
            <block-view class="block-cell" block.two-way="game.blocks[2]"></block-view>
        </div>
        <div class="block-row">
            <block-view class="block-cell" block.two-way="game.blocks[3]"></block-view>
            <block-view class="block-cell" block.two-way="game.blocks[4]"></block-view>
            <block-view class="block-cell" block.two-way="game.blocks[5]"></block-view>
        </div>
        <div class="block-row">
            <block-view class="block-cell" block.two-way="game.blocks[6]"></block-view>
            <block-view class="block-cell" block.two-way="game.blocks[7]"></block-view>
            <block-view class="block-cell" block.two-way="game.blocks[8]"></block-view>
        </div>
    </div>

    <div><button class="solve-button" click.trigger="automaticSolve(game)">Automatic Solve</button></div>
    <div><button class="solve-button" click.trigger="exampleGame()">Example Game</button></div>
</template>