button:focus {outline:0;}

.game {
    min-width: 723px;
    display: table;
    cursor: default;
}

.block-row {
    display: table-row;
}

.block-cell {
    display: table-cell;
}

.cell-table {
    display: table;
    border: 2px solid black;
    border-collapse: collapse;
}
.cell-table--green {
    display: table;
    border: 2px solid black;
    border-collapse: collapse;
    background-color: yellowgreen;
}

.cell-row {
    display: table-row;
}

.cell {
    display: table-cell;
    width: 80px;
    height: 80px;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
}

.state-table {
    display: table;
    width: 100%;
}

.state-row {
    display: table-row;
}

.state {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-family: monospace;
    font-size: 17px;
}

.resolved-state {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-family: monospace;
    font-size: 40px;
    line-height: 0;
}

.solve-button {
    width: 726px;
    height: 60px;
    font-family: initial;
    font-size: 20px;
    background-color: black;
    color: white;
}